@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* CSS for both desktop and mobile screens */
* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #262525;
}

.header {
    background-color: #ef066b;
    padding: 0.8rem;
    width: 100%;
    height: 20%;
    display: flex;
    /* align-items:baseline; */
    justify-content:space-between;
    flex-wrap: wrap;
    position: relative;
    /* z-index: 2; */
    /* min-height: 45px;  */
}

/* Example font styling for all anchor tags in the header */
.header a {
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    text-decoration: none; 
    margin-right: 1rem;
    align-items: center;
}

/* Optional: add hover effect for anchor tags */
.header a:hover {
    color: #262525; 
}

*, ::after, ::before {
    box-sizing: border-box;
}

header {
    display: block;
    unicode-bidi: isolate;
}

.pic img {
    position: relative;
    width: 20vw;
    height: 19rem;
    border-radius: 50%;
    box-shadow: 0 0 25px #ef066b;
    cursor: pointer;
    transition: .2s ease-in-out;
}
img, svg {
    vertical-align: middle;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.image {
    margin-top: 6%;
    text-align: center;
}
.port-cont {
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
}

.leftcont, .rightcont {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.leftcont {
    background: #262525;
    width: 100%; /* Full width on mobile */
}

.rightcont {
    background: #ef066b;
    width: 100%; /* Full width on mobile */
}
.iconss .fa-solid, .iconss .fa-brands {
    font-size: 2rem;
}
.iconss {
    margin-top: 4%;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.iconss a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.iconss a:hover {
    color: #ef066b;
}

.content {
    text-align: center;
    color: white;
    padding: 2.2rem;
}

.content .intro {
    margin-top: 20px;
    font-size: 2rem;
}

.content .intro span {
    color: #ef066b;
}

.content h2, .content h1 {
    font-size: 2rem;
    color: #ef066b;
}
.content h1{
    margin-top: 4%;
}
.content .detail {
    font-size: 1.2rem;
    max-width: 90%;
    margin: 1.1rem 0 3rem 0;
    line-height: 2.3rem;
    justify-content: center;
    align-items: center;
}

.skillset {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2%;
}
/* .detail{
    margin-left: 17%;
    color: #c0bebe;
    text-align: center;
    margin-top: 10px;
    font-size: 8px;
    margin-right: 18%;
    font-weight: 200;
    max-width: 1000px;
} */
.skillset button {
    border: .1rem solid #e58fb4;
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    border-radius: .5rem;
    margin: .5rem;
    background: #f078ac;
}

/* CSS for smaller screens */
@media (min-width: 769px) {
    .port-cont {
        flex-direction: row; /* Align children horizontally */
    }

    .leftcont {
        width: 100%;
    }

    .rightcont {
        width: 20%;
    }
    img{
        position: absolute;width: 260px; height: auto; box-shadow: 0 0 20px #f6f1f4;
    }
}

@media (max-width: 769px) {
    /* .port-cont {
        display: flex;
        flex-direction: column;
    } */

    /* .leftcont {
        width: 100%;
        height: 100%;
    } */

    /* .rightcont {
        width: 100%;
        height: 100%;
    } */

    img {
        box-shadow: 0 0 20px #f6f1f4;
        width: 150px;
        display: block;
        margin: 0 auto; /* Centers the image horizontally */
    }
}



